/* Add a border around the image */
.image-with-border {
    border-radius: 5px; /* Optional: Add rounded corners for a softer look */
    border-style: dotted;
    border-width: thick;
    border-color: purple;
  }

  .img-container {
      text-align: center;
  }

  .caption {
      /* Red color in italics */
  }
